.bredcrumpsItem {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: black;

}

.bredcrumps {
    display: flex;
    align-items: center;
    gap: 5px;
}